<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Account Page</title>
    <link rel="stylesheet" href="/stylesheets/account.css">
</head>
<body>
    <div class="container">
        <form action = "/account" method = "post">
        <div class="form-container">
            <h1>Create Account</h1>
            <form id="accountForm">
                <div class="input-group">
                    <input type="text" id="username" required name = "username">
                    <label for="username">Username</label>
                </div>
                <div class="input-group">
                    <input type="email" id="email" required  name = "email">
                    <label for="email">Email</label>
                </div>
                <div class="input-group">
                    <input type="number" id="phonenumber" required name = "phone" minlength="10"  maxlength="10">
                    <label for="phonenumber">Phone Number</label>
                </div>
                <button type="submit">Submit</button>
                </form>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>