<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/homepage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id = "navbar">
        <div id = "logo">
            <i class='bx bx-phone-call'></i>
            <a href = "#">LuvToChat</a>
        </div>
        <div id = "box">
            <div id = "first">
                <a href = "#">Products</a>
            </div>
            <div id = "second">
                <a href = "#">Pricing</a>
            </div>
            <div id = "third">
                <a href = "#">Contact</a>
            </div>
            <div id = "fourth">
                <a href = "#">Login</a>
            </div>
        </div>
    </div>
    <div id = "center">
        <div id = "a1">
            <h1>Have your <br>best chat</h1>
            <label>Fast , easy , unlimited chat services</label><br>
            <button id = "start">Try it free</button>
            <button id = "Login">Login</button>
        </div>
        <div id = "a2">

        </div>
    </div>
</body>
</html>