*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width:100%;
    height:100%;
    background-color: rgb(21, 21, 53);
}
#navbar{
    width:100%;
    height:45px;
    display: flex;
    align-items: center;
    gap:50px;
    padding:30px 50px;
}
#navbar a{
    color:white;
    text-decoration: none;
}
#box{
    margin-left: 620px;
    display: flex;
    align-items: center;
    gap:10px;
}
#logo{
    display: flex;
    align-items: center;
    gap:5px;
}
#logo a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size:18px;
    transition:0.1s;
}
#logo a:hover{
    transition:0.1s;
    cursor: pointer;
    text-decoration: underline;
}
#logo i{
    color:white;
    font-size:20px;
}
#first{
    padding:7px 15px;
    border-radius: 20px;
    font-weight: bold;
    transition:0.1s;
}
#first:hover{
    transition:0.1s;
    background-color: rgb(130, 122, 207);
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(130, 122, 207);
}
#second{
    padding:7px 15px;
    border-radius: 20px;
    font-weight: bold;
    transition:0.1s;
}
#second:hover{
    transition:0.1s;
    cursor: pointer;
    background-color: rgb(130, 122, 207);
    box-shadow: 0px 0px 10px rgb(130, 122, 207);
}
#third{
    padding:7px 15px;
    border-radius: 20px;
    font-weight: bold;
    transition:0.1s;
}
#third:hover{
    transition:0.1s;
    cursor: pointer;
    background-color: rgb(130, 122, 207);
    box-shadow: 0px 0px 10px rgb(130, 122, 207);
}
#fourth{
    padding:7px 15px;
    border-radius: 20px;
    font-weight: bold;
    transition:0.1s;
}
#fourth:hover{
    transition:0.1s;
    background-color: rgb(130, 122, 207);
    box-shadow: 0px 0px 10px rgb(130, 122, 207);
    cursor: pointer;
}
#center{
    width:100%;
    height:90%;
}
#a1{
    width:50%;
    height:100%;
    padding:50px 50px;
}
#a1 h1{
    margin-top: 80px;
    font-size:65px;
    color:white;
    margin-left: 150px;
    margin-bottom: 20px;
}
#a1 label{
    margin-left: 150px;
    font-size:20px;
    color:rgb(234, 233, 233);
}
#a1 button{
    margin-top: 50px;
}
#start{
    width:130px;
    height:45px;
    border-radius: 20px;
    border:2px solid white;
    font-size:15px;
    font-weight: bold;
    background-color: rgb(214, 74, 144);
    border:transparent;
    color:white;
    margin-left: 100px;
    transition:0.1s;
}
#start a{
    color:white;
    text-decoration: none;
}
#start:hover{
    transition:0.1s;
    cursor: pointer;
    background-color:rgb(192, 70, 131);
}
#Login{
    width:130px;
    height:45px;
    border-radius: 20px;
    border:2px solid white;
    font-size:15px;
    font-weight: bold;
    background-color: rgb(143, 212, 40);
    border:transparent;
    color:white;
    margin-left: 10px;
    transition:0.1s;
}
#Login a{
    color:white;
    text-decoration: none;
}
#Login:hover{
    transition:0.1s;
    cursor: pointer;
    background-color:rgb(132, 193, 40) ;
}
#center{
    display: flex;
    align-items: center;
}
#a2{
    width:50%;
    height:100%;
    padding:40px 30px;
}
#images{
    margin-top: 30px;
    width:500px;
    height:400px;
    animation:animatebg 10s  infinite;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#join{
    width:130px;
    height:45px;
    border-radius: 20px;
    border:2px solid white;
    font-size:15px;
    font-weight: bold;
    background-color: rgb(238, 151, 81);
    border:transparent;
    color:white;
    margin-left: 10px;
    transition:0.1s;
}
#join a{
    color:white;
    text-decoration: none;
}
#join:hover{
    transition:0.1s;
    cursor: pointer;
    background-color:rgb(226, 136, 62);
}
@keyframes animatebg{
    0%{
        background-image: url("https://www.bhthechange.org/wp-content/uploads/2021/03/shutterstock_1070444933-2048x1366.jpg");
    }
    25%{
        background-image: url("https://www.westend61.de/images/0001615437pw/happy-man-with-wireless-headphones-using-smart-phone-XLGF02388.jpg");
    }
    50%{
        background-image: url("https://bethesdahealth.org/wp-content/uploads/2020/02/iStock-1047528620.jpg");
    }
    75%{
        background-image: url("https://s3.amazonaws.com/cms.ipressroom.com/173/files/20164/5748b3e82cfac26479036ec7_Teenager+using+phone/Teenager+using+phone_0c3095a8-386a-4155-a2d4-952466aa0687-prv.jpg");
    }
    100%{
        background-image: url("https://www.bhthechange.org/wp-content/uploads/2021/03/shutterstock_1070444933-2048x1366.jpg");
    }
}